{% extends 'app/layout.html' %}

{% block title %}Pupils{% endblock %}

{% block content %}
    <h2 class="text-center">Pupils</h2>

    <form action="filter_pupils" method="POST">
        {% csrf_token %}

        <div class="row justify-content-center mt-3">

            <div class="col-lg-2 col-sm-4">
                <select required class="form-select" name="class_name" aria-label="Choose class">
                    <option value="All pupils">All pupils</option>
                    {% for itm in classes %}
                        <option value="{{ itm.class_name }}">{{ itm.class_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-2 col-sm-4">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </div>

    </form>


    {% if pupils is not None %}
        <h4 class="text mt-5">{{ class_name }}</h4>

        <div>

            <table class="table table-striped">

                <thead>
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    {% if class_name == 'All pupils' %}
                        <th>Class</th>
                    {% endif %}

                </tr>
                </thead>

                <tbody>
                {% for itm in pupils %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ itm.first_name_pupil }}</td>
                        <td>{{ itm.second_name_pupil }}</td>
                        {% if class_name == 'All pupils' %}
                            <td>{{ itm.current_class.class_name }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

    {% endif %}

{% endblock %}